CardButton {
    border: 2px solid #858585;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

CardButton:hover {
    background-color: lightgray;
}

QLabel {
    border: none;
}
